@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@300;400;700;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap');

:root {
    /* main palette */
    --text-gold: rgb(187, 175, 106);
    --text-grey: #555;
    --text-dark: #333;
    --text-light: #AAA;
    --bg-light: rgb(60, 60, 60);
    --bg-grey: #222;
    --bg-dark-grey: rgb(28, 28, 28);
    --bg-dark: rgb(22,22,22);
    --bg-darker: #111;

    /* piano styling */
    --piano-height: 120px;
    --white-key-width: 40px;
    --white-key-border-width: 1px;
    --black-key-width: calc(var(--white-key-width)/2);
    --black-key-width-resp: clamp(0, var(--black-key-width), var(--black-key-width));

    --white-key-colour: rgb(240, 240, 240);
    --white-key-hover-colour: rgb(224, 255, 229);
    --white-key-active-colour: rgb(120, 200, 110);
    --black-key-colour: rgb(30, 30, 30);
    --black-key-hover-colour: rgb(97, 119, 142);
    --black-key-active-colour: rgb(90, 136, 174);
    --key-label-size: calc(var(--piano-height)/10);
    --key-label-font-family: 'Source Code Pro', Helvetica, Arial, sans-serif;
    --key-label-font-weight: 400;
  }

body {
    margin: 0;
    background-color: var(--bg-dark);
    color: var(--text-grey);
    font-family: 'Source Code Pro', Helvetica, Arial, sans-serif ;
    font-weight: 400;
    overflow: hidden;
}

p {
    font-family: 'Source Code Pro', Helvetica, Arial, sans-serif;
}

h1 h2 h3 {
    margin: none;
    padding: none;
}

h1 {
    color: var(--text-gold);
    font-family: Cormorant, Helvetica, Arial, sans-serif;
    font-weight: 500;
}

h2 {
    color: var(--text-gold);
    font-family: Cormorant, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

h3 {
    color: var(--text-grey);
    font-family: 'Source Code Pro', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--text-grey);
}

input {
    background: var(--bg-dark-grey);
    color: var(--text-grey);
    font-family: 'Source Code Pro', Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: .5ch;
}

input[type="file"] {
    display: none;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

input:hover {
    background: var(--bg-grey);
    color: var(--text-gold);
}

button {
    background: var(--bg-dark-grey);
    color: var(--text-grey);
    font-family: 'Source Code Pro', Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: .5ch;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
    background: var(--bg-grey);
    color: var(--text-gold);
}

button:active {
    filter: brightness(.6);
    transform: scale(1);
}

select {
    background: var(--bg-dark);
    color: var(--text-grey);
    text-align: center;
    border: 2px solid var(--bg-light);
    border-radius: 2px;
    appearance: none;
    outline:none;
    font-family: 'Source Code Pro', Helvetica, Arial, sans-serif;
}

select:focus {
    color: var(--text-gold);
    border: 2px solid var(--text-gold);
}

select:hover {
    background: var(--bg-grey);
    color: var(--text-gold);
}


/* responsive stylings */
*:focus {
    outline: none;
}

::selection {
    background: #111;
    color: var(--text-light);
    border: 5px;
}